<!-- footer -->
<!-- la clase pb es pading boton y la clase pt es pading top ambas varias de 1-4 -->
<footer id="footer" class="pb-4 pt-4 footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-lg">
          <a href="#">Preguntas frecuentes</a>
      </div>
      <div class="col-12 col-lg">
          <a href="#">Contactanos</a>
      </div>
      <div class="col-12 col-lg">
          <a href="https://twitter.com/utnfra?lang=es">Prensa</a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->
