  <!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/Principal">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/QuienSoy#quien">Quien</a></li>
          <li><a href="/QuienSoy#que">Ques es</a></li>
          <li><a href="/QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
<body data-spy="scroll" data-target="#navbar" data-offset="90" >
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="./assets/img/utn-logo.png" alt="UTN logo">
            Hora del juego
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <!-- margin right mr y margin left ml -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- los href con # son para navegacion interna del sitio -->
                    <a class="nav-link" href="/QuienSoy#quien">Quien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/QuienSoy#que">El juego</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/QuienSoy#donde">Donde Funciona</a>
                </li>
                <li class="nav-item active ml-2 mr-2 mt-2 mb-2">
                    <a  class=" btn btn-outline-light col-12" href="#" data-toggle="modal" data-target="#modalRegistro">Registrase</a>
                  </li>
                  <li class="nav-item active ml-2 mr-2 mt-2 mb-2">
                    <a  class=" btn btn-utn col-12 " href="#" data-toggle="modal" data-target="#modalLogin">Ingresar</a>
                  </li>
            </ul>
        </div>

      </div>
    </nav>

    <!-- First Container -->
    <div id ="quien"class="container-fluid bg-1 text-center">
      <h3 class="margin">Quién Soy?</h3>
      <img src="https://avatars1.githubusercontent.com/u/6691288?s=400&u=b2a7a2b73356f96a537345f5db2afc8c9cb80a30&v=4" class="rounded-circle margin" style="display:inline" alt="Bird" width="350" height="350">
      <h3>Mi nombre es Ezequiel Freire y soy estudiante de la UTN</h3>
    </div>

    <!-- Second Container -->
    <div id ="que" class="container-fluid bg-2 text-aling-center">
      <h3 class="margin text-center">Esto es un trabajo práctico del juego Simon dice</h3>
      <p> El juego consiste en varios niveles en los cuales se debe serguir una secuencia aleatoria de colores,
          esta secuencia debe ser respetada por el jugador hasta llegar al ultimo nivel al ser una secuencia acumulativa el
          jugador debera de acordase los colores anteriores si falla a uno de los colores de la secuencia perdera automaticamente
          y volvera a generarse otra secuencia aleatoria si es que desea seguir jugando.  </p>

    </div>

    <!-- Third Container (Grid) -->
    <!--<div id ="donde" class="container-fluid bg-3 text-center">
      <h3 class="margin">Dónde Funciona?</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
          <img src="/assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
        </div>
        <div class="col-sm-4">
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          <img src="/assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
          <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
          <img src="/assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
      </div>
    </div> -->

    <div id="donde" class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/logos_os.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Para que sistema operativo</h5>
                  <p class="card-text text-aling-center">Al ser una WEB solo depende de que el navegador web soporte la tecnologia.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/ux-ui.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Expericia de usuario</h5>
                  <p class="card-text text-aling-center">Se orienta UX/UI garantizando una experiencia de usuario fluida y pensada al comportamiento del usuario y en la funcionalidad.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/multiplataforma.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Progressive Web Apps</h5>
                  <p class="card-text text-aling-center">Las aplicaciones web progresivas son aplicaciones web que se cargan como páginas web normales o sitios web, pero que pueden ofrecer al usuario funcionalidades como trabajar sin conexión, notificaciones push y acceso a hardware del dispositivo que tradicionalmente solo está disponible para aplicaciones móviles nativas.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>


</body>



  <!-- <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.octavio.com.ar">www.octavio.com.ar</a></p>
  </footer> -->
<!-- <footer id="footer" class="footer">
    <div  class=" col-12 col-md-12 col-lg-12">
        <div class="card-header">
        <h3 class="c-white text-utn">Contacto</h3>
                <ul class="list-unstyled contact text-white">
                  <li><p>Universidad Tecnológica Nacional<br>Facultad Regional Avellaneda</p></li>
                  <li><strong><i class="zmdi zmdi-pin"></i> Dirección:</strong> Av. Mitre 750 - 2do piso. Avellaneda</li>
                  <li><strong><i class="zmdi zmdi-email"></i> Mail:</strong> <a href="mailto:tecnicaturas@fra.utn.edu.ar">ezquiel.a.freire@gmail.com</a></li>
                  <li><strong><i class="zmdi zmdi-phone"></i> Teléfonos:</strong>  4222-6465 | 4201-4133 int. 116</li>
                </ul>
        </div>
    </div>
</footer> -->

