<!-- <div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="../assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>


      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>

    </div>

    <div class="card">
      <img class="img-thumbnail" src="../assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>


      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="../assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>


      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div> -->

  <div class="container-fluid pt-4">
    <div class="row mt-4 mb-4">
      <div class="card col-sm-4">
        <img class="card-img-top" src="../../../assets/img/aritmetica_opt.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Velocidad y agilidad aritmética</h5>
          <p class="card-text text-center">Velocidad y agilidad aritmética</p>
          <a class="btn btn-utn col-12 col-lg-12" (click)="Juego('Agilidad')">Jugar</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <img class="card-img-top" src="../../../assets/img/papel-piedra-y-tijera_opt.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Piedra Papel o Tijera</h5>
          <p class="card-text text-center">Juega contra la máquina</p>
          <a  class="btn btn-utn col-12 col-lg-12" (click)="Juego('PPT')">Jugar</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <img class="card-img-top" src="../../../assets/img/dados_opt.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Adivina el número secreto</h5>
          <p class="card-text text-center">Juega de estrategia</p>
          <a  class="btn btn-utn col-12 col-lg-12" (click)="Juego('Adivina')">Jugar</a>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="card col-12 col-sm-4 offset-md-4 offset-0" >
        <img class="card-img-top" src="../../../assets/img/simon-dice_opt.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Simon dice</h5>
          <p class="card-text text-center">Juego visual y de momorizacion de secuencia </p>
          <a  class="btn btn-utn col-12 col-lg-12" (click)="Juego('Simon')">Jugar</a>
        </div>
      </div>
    </div>
  </div>
